extends layout

block content
  h1= title
  p(class='main-title') #{title}'s list #{url}
  - var values = messages
    ul(class='main-ul')
      each val in values 
        ul(class='child-ul') 
          li= val.text
          li= val.user
          li= val.added
    a(href= 'https://minimessageboard.adaptable.app/new')="Add new message"
